<launch>
    <arg name="topic_group" default="arm_controller"/>
    <arg name="rname" default="z1"/>
    <arg name="z1robot_path" value="(find $(arg rname)_description)"/>
    <arg name="z1robot_config_path" value="(find $(arg rname)_moveit_config)"/>
    <arg name="dollar" value="$"/>
    <arg name="UnitreeGripperYN" default="true"/>
    
    <!-- Robot description for RViz visualization -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find z1_description)/xacro/robot.xacro' UnitreeGripper:=$(arg UnitreeGripperYN)"/>

    <node pkg="arm_controller" type="arm_controller_node" name="arm_controller_node" output="screen">
        <remap from="/joint_states" to="/$(arg topic_group)/joint_states"/>
        <remap from="/cmd_joint_states" to="/$(arg topic_group)/cmd_joint_states" />
        <remap from="/end_effector_pose" to="/$(arg topic_group)/end_effector_pose"/>
        <remap from="/execute_process" to="/$(arg topic_group)/execute_process"/>
        <remap from="/plan" to="/$(arg topic_group)/plan"/>
        <remap from="/search_plan" to="/$(arg topic_group)/search_plan" />
        <remap from="/back_to_home" to="/$(arg topic_group)/back_to_home"/>
        <remap from="/check_pose_in_workspace" to="/$(arg topic_group)/check_pose_in_workspace"/>
        <remap from="/joy_stick_control" to="/$(arg topic_group)/joy_stick_control" />
        
        <!-- Line rotation test parameters -->
        <param name="test/line_point_x" value="0.8" />
        <param name="test/line_point_y" value="0.0" />
        <param name="test/line_point_z" value="0.15" />
        <param name="test/line_point_pitch" value="0.7854" />
        <param name="test/line_point_yaw" value="0.0" />
        <param name="test/line_point_roll" value="1.5708" />
        <param name="test/rotation_angle_deg" value="45.0" />
        <param name="test/sample_start" value="-1.0" />
        <param name="test/sample_end" value="-0.05" />
        <param name="test/num_samples" value="30" />
        <!-- MID 线单独的采样参数 -->

        <param name="test/mid_sample_start" value="-0.6" />
        <param name="test/mid_sample_end" value="-0.05" />
        <param name="test/mid_num_samples" value="300" />
        <param name="test/mid_target_distance" value="0.15" />
        <!-- 采样参数 -->
        <param name="test/num_rotations" value="1" />
        <param name="test/angle_step_deg" value="45.0" />
        <param name="test/target_distance" value="0.15" />
        <!-- Default target pose parameters -->
        <param name="test/default_target_pose_x" value="0.56" />
        <param name="test/default_target_pose_y" value="0.0" />
        <param name="test/default_target_pose_z" value="0.1" />
        <param name="test/default_target_pose_orientation_x" value="0.0" />
        <param name="test/default_target_pose_orientation_y" value="0.0" />
        <param name="test/default_target_pose_orientation_z" value="0.0" />
        <param name="test/default_target_pose_orientation_w" value="1.0" />
        <param name="test/default_joint_pos_3" value="-0.6" />
        

        <param name="test/target_distance_for_touch" value="0.07" />
    </node>

    <!-- Static transform from arm to ZED camera -->
    <!-- <group ns="arm_controller">
    
        <node pkg="tf2_ros" type="static_transform_publisher" name="arm2zed"
              args="-0.39865 0. -0.02174 0 -2.093 0 link02 zed_base"/>
        
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
            <remap from="/joint_states" to="joint_states"/>
        </node>
        
    </group> -->

    <!-- RViz visualization -->
    <!-- <node pkg="rviz" type="rviz" name="rviz" respawn="false" output="screen"
        args="-d $(find z1_description)/launch/setting.rviz"/> -->

</launch>
